{% extends 'shop/base.html' %}

{% block title %}
    Shop - Item Page
{% endblock %}


{% block page %}
    
    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">
                Items
            </h4>
        </div>
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'shop-add-item' %}" class="btn btn-pink">Add Item</a>
                <br/>
                <br/>

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Qty per Package</th>
                            <th>Is Veg</th>
                            <th>Is Soldout</th>
                            <th class="text-center">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td scope="row">{{ item.id }}</td>
                                <td><a href="{% url 'shop-edit-item' item.id %}">{{ item.name }}</a></td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity_per_package }}</td>
                                <td>{{ item.is_veg }}</td>
                                <td>{{ item.is_soldout }}</td>
                                <td class="text-center" class="image-rounded" 
                                src="{{ MEDIA_URL}}{{ item.image }}" width="50" height="50">{{ item.image }}</td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>

            </div>

        </div>
    </div>




    
{% endblock %}