{% extends 'shop/base.html' %}


{% block title %}
    Shop - Report Page
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    </script>
{% endblock %}

{% block page %}
   <div class="row">
       <div class="col-lg-8">
            <!-- Revenue by week -->
            <div class="panel">
                <div class="panel-heading bg-blue">
                    <h4 class="panel-title text-center text-white">
                        Revenue by Week
                    </h4>
                </div>
                <div class="panel-body">
                    <canvas id="revenueChart" height="110"></canvas>
                    <script>
                        var ctx = document.getElementById("revenueChart").getContext("2d");
                        var data = {
                            labels : ["Mon", "Tue", "Wen", "Thu", "Fri", "Sat", "Sun"],
                            datasets : [
                                {
                                    label : "Revenue by Week",
                                    backgroundColor : "rgba(54,162,235,0.9)",
                                    hoverBackgroundColor: "rgba(54,162,235,1)",
                                    data : {{revenue}}
                                }
                            ]
                        }

                        new Chart(ctx,{
                            type : "bar",
                            data: data
                        })
                    </script>
                </div>
            </div>

            <!-- Number of Orders by week -->

            <div class="panel">
                    <div class="panel-heading bg-blue">
                        <h4 class="panel-title text-center text-white">
                            Order by Week
                        </h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="orderChart" height="110"></canvas>
                        <script>
                            var ctx = document.getElementById("orderChart").getContext("2d");
                            var data = {
                                labels : ["Mon", "Tue", "Wen", "Thu", "Fri", "Sat", "Sun"],
                                datasets : [
                                    {
                                        label : "Revenue by Week",
                                        backgroundColor : "rgba(255,99,132,0.9)",
                                        hoverBackgroundColor: "rgba(255,99,132,1)",
                                        data : {{orders}}
                                    }
                                ]
                            };
                            new Chart(ctx,{
                                type : "bar",
                                data: data
                            })
                        </script>
                    </div>
                </div>
       </div>
       <div class="col-lg-4">
            <!-- Top Items by week -->
            <div class="panel">
                    <div class="panel-heading bg-blue">
                        <h4 class="panel-title text-center text-white">
                            Top selling Items
                        </h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="itemChart" height="600"></canvas>
                        <script>
                            var ctx = document.getElementById("itemChart").getContext("2d");
                            var data = {
                                labels : {{ items.labels|safe }},
                                datasets : [
                                    {
                                        backgroundColor : [
                                            "#36A2EB","#FFCE56","#FF6384"
                                            ],
                                        data : {{ items.data }}
                                    }
                                ]
                            }
                            
                            new Chart(ctx,{
                                type : "pie",
                                data: data
                            })
                        </script>
                    </div>
                </div>
       </div>

   </div>
{% endblock %}